
:root {
    --preto: #000;
    --color-white: #eeeeee;
    --color-dark1: rgb(0, 0, 0);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-green: #42FF00;
    --color-blue: #007BFF;
    --color-error: #FF4B4B;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #343434 ;
    margin: 0;
    padding: 0;
}
/* Header */
.img_logo_header{
    width: 180px;
}
.nav,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav{
    margin-top: 30px;
    background-color: #343434;
    justify-content: space-between;
    padding: 0 10%;
    height: 3.5em;
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 1s;
}
.navigation_header a{
    text-decoration: none;
    color: var(--color-white);
    transition: 1s;
    font-weight: bold;
}
.navigation_header a:hover{
    color: var(--color-white);
}
.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}

article h1 {
    padding: 20px;
    font-size: 30px;
    color: var(--color-green);
}


details {
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px; 
}
summary {
    font-weight: bold;
    cursor: pointer;
}
.container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #44ff00;
}
.status-em-andamento {
    color: #f39c12;
    font-weight: bold;
}
.status-confirmada {
    color: #2ecc71;
    font-weight: bold;
}
.status-rejeitada {
    color: #e74c3c;
    font-weight: bold;
}
.valor-pendente {
    text-align: right;
}
footer {
    text-align: center;
    padding: 10px;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}